.banner {
  width: 100%;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  flex-wrap: wrap;
}

.banner-box {
  width: 100%;
}
.banner-card {
  box-shadow: none !important;
  border-radius: 0px;
  padding-bottom: 5px !important;
}
.post-heading {
  font-weight: 700 !important;
  line-height: 1.2;
  display: block;
  font-size: 1.3em;
  margin-bottom: 5px;
  margin-top: 20px;
}
.post-date {
  font-weight: 500 !important;
}
.banner-post-author {
  font-weight: 500 !important;
  line-height: 1.2 !important;
  display: block;
  font-size: 0.9em;
}

.banner-post-author-desc {
  font-weight: 500 !important;
  line-height: 1.2 !important;
  display: block;
  font-size: 0.9em;
}

.post-article {
  display: block;
}

@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 700px) {
}
@media only screen and (min-width: 1000px) {
  .banner {
    width: 100%;
    margin: 0 auto;
    background-color: cadetblue;
  }

  .banner-container {
    width: 85%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .banner-box {
    width: 50%;
  }

  .banner-card {
    background: transparent;
  }

  .banner-box-img {
    width: 89%;
    margin: 50px;
    border-radius: 15px !important;
  }

  .post-heading {
    font-size: 2.3em;
    margin-bottom: 15px;
  }

  .banner-post-author {
    font-weight: 500 !important;
    line-height: 1.2 !important;
    font-size: 1.3em;
  }

  .post-banner-avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }
  .post-container {
    width: 84%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 2500px) {
}
