.card-container {
  width: 98%;
  margin: 0 auto;
}

.card-body .school-card-avatar {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 155px;
  padding: 3px;
  background-color: white;
  border-radius: 12px;
}
.card-body {
  padding-top: 25px;
}

@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 700px) {
}
@media only screen and (min-width: 1000px) {
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 2500px) {
}
