<!-- school subheading structure start-->

<mat-toolbar class="header-nav">
  <mat-toolbar-row class="header-nav-row">
    <span class="material-icons ">school</span>
    <span class= "logo">  
      <h2 class="heading"> School </h2>
      <p class="subheading"> All school information listed here </p>
    </span> 

<!--Search component  will gets implemented after some time

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <form class="example-form">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td><mat-form-field class="example-full-width">
                      <mat-label>Search for courses</mat-label>
                      <input matInput placeholder="Angular">
                      </mat-form-field>
                  </td>
                  <td>
                      <button mat-raised-button color="accent">Search</button>
                  </td>
                </tr>
              </table>
          </form>
      </ul>
    </div>

-->
  </mat-toolbar-row>
</mat-toolbar>
<!-- school subheading structure Ends-->
<!--- school card structure starts-->
<div class="card-container">
<div class="card-box">
    <div *ngFor= "let school of schools">
        <mat-card class="list-card">
          <div class="school-card-banner"><img mat-card-image class="post-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"></div>
          <div class="card-body"><img mat-card-avatar  class="school-card-avatar" src="https://material.angular.io/assets/img/examples/shiba2.jpg"></div>
          <mat-card-title class="card-title"> {{school.school_Name}} </mat-card-title>
          <mat-card-subtitle>Author - alok kumar</mat-card-subtitle>
          <mat-card-content>
          <p>test</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="post-card-button" mat-stroked-button routerLink="{{school.school_header}} " color="accent">School detail</button>
          </mat-card-actions>
          
        </mat-card>
    </div>
</div>
</div>

<!--- school card structure Ends-->