.header {
  height: 100px;
}

.mat-toolbar-row {
  background-color: #fff;
  padding: 50px;
  box-shadow: 1px 1px 2px 1px #888888 !important;
}
.header-row .material-icons {
  font-size: 40px;
  background-color: #f4f5fd;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px #888888 !important;
  padding: 10px;
}

.logo {
  margin-top: 15px;
  margin-left: 20px;
}
.heading {
  font-size: 22px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.subheading {
  font-size: 15px;
  margin-top: 0px;
  padding-top: 0px;
  text-decoration: none;
  color: #878dbb;
}

.container {
  margin: 15px;
}

.mat-card {
  margin-bottom: 10px;
  border-radius: 0px;
  padding-bottom: 3px;
}
.card-footer-link {
  padding: 10px;
}
.share-card {
  float: right;
}

