<mat-toolbar class="header">
  <mat-toolbar-row class="header-row">
    <span class="material-icons">book</span>
    <span class= "logo">  
      <h2 class="heading">Courses</h2>
      <p class="subheading">All the beautifull and informatic Courses </p>
    </span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <form class="example-form">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td><mat-form-field class="example-full-width">
                      <mat-label>Search for courses</mat-label>
                      <input matInput placeholder="Angular">
                      </mat-form-field>
                  </td>
                  <td>
                      <button mat-raised-button color="accent">Search</button>
                  </td>
                </tr>
              </table>
          </form>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<div class="card-container">
<div class="card-box">


    <div *ngFor="let course of courses">
        <mat-card class="list-card">
          <img mat-card-image class="post-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title class="card-title">{{course.title}}</mat-card-title>
          <mat-card-subtitle>Author - Dog Breed</mat-card-subtitle>
          <mat-card-content>
          <p>{{course.body}}</p>
          </mat-card-content>
          
          <mat-card-actions>
            <button class="post-card-button" mat-stroked-button  color="accent">Read Here</button>
          </mat-card-actions>
        </mat-card>
    </div>



</div>
</div>