<!-- subheading structure start-->

<mat-toolbar class="header-nav">
  <mat-toolbar-row class="header-nav-row">
    <span class="material-icons ">book</span>
    <span class= "logo">  
      <h2 class="heading"> Courses</h2>
      <p class="subheading">Find all the courses on this platform </p>
    </span> 

<!--Search component  will gets implemented after some time

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <form class="example-form">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td><mat-form-field class="example-full-width">
                      <mat-label>Search for courses</mat-label>
                      <input matInput placeholder="Angular">
                      </mat-form-field>
                  </td>
                  <td>
                      <button mat-raised-button color="accent">Search</button>
                  </td>
                </tr>
              </table>
          </form>
      </ul>
    </div>

-->
  </mat-toolbar-row>
</mat-toolbar>
<!-- subheading structure Ends-->
<!--- Courses structure starts-->
<div class="card-container">
<div class="card-box">
    <div *ngFor="let course of courses">
        <mat-card class="list-card">
          <img mat-card-image class="post-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title class="card-title">{{course.course_name}}</mat-card-title>
          <mat-card-subtitle>Author - {{course.course_author}}</mat-card-subtitle>
          <mat-card-content>
          <p>{{course.course_short_desc}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button class="post-card-button" mat-stroked-button routerLink="{{course.course_header}}" color="accent">Read Here</button>
          </mat-card-actions>
        </mat-card>
    </div>
</div>
</div>

<!--- Courses structure Ends-->