<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSideBar()" *ngIf="_UsersService.loggedIn()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class= "logo"> MY LOGO </span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <!-- If the device is extra Small -->      
                <div *ngIf="deviceXs"> 
                  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
                    <mat-menu #menu="matMenu">
                      <mat-nav-list>
                        <a mat-list-item *ngIf="!_UsersService.loggedIn()" routerLinkActive="list-item-active" routerLink="/signup">Sign Up</a>
                        <a mat-list-item *ngIf="!_UsersService.loggedIn()" routerLinkActive="list-item-active" routerLink="/signin">Sign In</a>
                        <a mat-list-item *ngIf="_UsersService.loggedIn()"  routerLinkActive="list-item-active" (click) ="_UsersService.logout()">Log Out</a> 
                     </mat-nav-list>     
                    </mat-menu> 
                </div>

          <!-- If the device is tablet Sm -->      
                <div *ngIf="deviceSm"> 
                        <button *ngIf="!_UsersService.loggedIn()" mat-raised-button color="primary" routerLinkActive="list-item-active" routerLink="/signup">Sign Up</button>
                        <button *ngIf="!_UsersService.loggedIn()" mat-raised-button color="primary" routerLinkActive="list-item-active" routerLink="/signin">Sign In</button>
                        <button *ngIf="_UsersService.loggedIn()" mat-raised-button color="primary" routerLinkActive="list-item-active" (click) ="_UsersService.logout()">Log Out</button> 
                </div>
          <!-- If the device is Large laptop and bigger than laptop -->      
                <div *ngIf="deviceMd || deviceLg"> 
                        <button *ngIf="!_UsersService.loggedIn()" mat-raised-button color="primary" routerLinkActive="list-item-active" routerLink="/signup">Sign Up</button>
                        <button *ngIf="!_UsersService.loggedIn()" mat-raised-button color="primary" routerLinkActive="list-item-active" routerLink="/signin">Sign In</button>
                        <button *ngIf="_UsersService.loggedIn()" mat-raised-button color="primary" routerLinkActive="list-item-active" (click) ="_UsersService.logout()">Log Out</button> 
                </div>


        </ul>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
