ul li {
  list-style: none;
}

@media (max-width: 599px) {
  .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 56px;
    padding: 0px;
  }
  .logo {
    margin-left: 5px;
  }
} // media max with 599 px ends
