
<div class="auth-backgroud">
  <div class="auth-container">
    
    <div class="auth-center-container">
    <mat-toolbar>
      <mat-toolbar-row>
         <span>Validate User</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="auth-card">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Provide your user name </mat-label>
              <input matInput placeholder="User Name">
            </mat-form-field>   
        </form>


    <button mat-raised-button color="primary" style="width: 100%; display: block;">Validate User</button> 
    <div class="margin-top-50"></div>
    <div class="margin-top-50"></div>

    <mat-divider></mat-divider>
    
    <div style="padding-top: 15px;"></div>
    <p style="float: left">do not have account  : <a routerLinkActive="list-item-active" routerLink="/signup">Sign Up</a></p>
    <p style="text-align: right">Forget Password : <a routerLinkActive="list-item-active" routerLink="/signin">Login</a> </p>
    <p style="text-align: right">do not know user name: <a routerLinkActive="list-item-active" routerLink="/signin">Forget User</a> </p>

    
    
    </mat-card>
    </div>
  </div>
</div>

