<mat-toolbar class="header">
  <mat-toolbar-row class="header-row">
    <span class="material-icons ">description</span>
    <span class= "logo">  
      <h2 class="heading">Posts</h2>
      <p class="subheading">All the beautifull and informatic posts </p>
    </span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
          <div class="cat-dd">
            <mat-form-field appearance="fill" class="cat-search">
              <mat-label><i class="devicon-facebook-plain colored"></i> Select Category</mat-label>
              <mat-select>
                <mat-option value="option">All Posts</mat-option>
                <mat-option value="option">Angular</mat-option>
                <mat-option value="option">Google Cloud</mat-option>
                <mat-option value="option">Wordpress</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </ul>
    </div>



  </mat-toolbar-row>
</mat-toolbar>




<div class="card-container">
<div class="card-box">
    <div *ngFor="let post of posts">
        <mat-card class="list-card">
          <img mat-card-image class="post-card-image" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-title class="card-title">{{post.post_id}}</mat-card-title>
          <mat-card-subtitle>Author - Dog Breed</mat-card-subtitle>
          <mat-card-content>
          <p>{{post.post_id}}</p>
          </mat-card-content>
          
          <mat-card-actions>
            <button class="post-card-button" mat-stroked-button  color="accent">Read Here</button>
          </mat-card-actions>
        </mat-card>
</div>
</div>


