
<div class="auth-backgroud">
  <div class="auth-container">
    
    <div class="auth-center-container">
    <mat-toolbar>
      <mat-toolbar-row>
         <span>Sign Up</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="auth-card">

        <form class="example-form">
            <mat-form-field class="example-full-width">

            <mat-label>User Name</mat-label>
              <input matInput placeholder="User Name" >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password">
            </mat-form-field>
            
            
            <mat-form-field class="example-full-width">
              <mat-label>Conform Password</mat-label>
              <input matInput type="Conform password" placeholder="Comform Password">
            </mat-form-field>             
        
        </form>
            <button mat-raised-button color="primary" style="width: 100%; display: block;">Submit</button> 
    <div class="margin-top-50"></div>
    <div class="margin-top-50"></div>

    <mat-divider></mat-divider>
    
    <div style="padding-top: 15px;"></div>
    <p>All ready have account login : <a routerLinkActive="list-item-active" routerLink="/signin">Login</a></p>
    
    
    </mat-card>
    </div>
  </div>
</div>

