
<div class="auth-backgroud">
  <div class="auth-container">
    
    <div class="auth-center-container">
    <mat-toolbar>
      <mat-toolbar-row>
         <span>Sign In</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-card class="auth-card">

        <form class="signin-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="User Name" value="User name" formControlName="username" required>
              <mat-hint>User Name</mat-hint>
              <mat-error *ngIf="username.errors?.required" >Please enter a valid user name</mat-error>
              <mat-error *ngIf="username.errors?.maxlength" >max length error</mat-error>  
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" value="Password" formControlName="password" required>
              <mat-hint> Password </mat-hint>
              <mat-error>Please enter a password</mat-error>
            </mat-form-field>
        
            <button class="signin-button" mat-raised-button color="primary" style="width: 100%; display: block;">Submit</button>        
        </form>



    <mat-error>{{errorMsg}}</mat-error>
    <mat-divider></mat-divider>
    
    <div style="padding-top: 15px;"></div>
    <button class="signin-button" routerLink="/signup" mat-raised-button color="primary" style="width: 100%; display: block;">Don't have account - Sign Up</button> 
    <button class="signin-button" routerLink="/forgetpassword" mat-raised-button color="primary" style="width: 100%; display: block;">Forget Password</button> 
    </mat-card>
    </div>
  </div>
</div>

