<mat-toolbar class="header">
  <mat-toolbar-row class="header-row">
    <span class="material-icons ">description</span>
    <span class= "logo">  
      <h2 class="heading">course Name</h2>
      <p class="subheading">All the beautifull and informatic posts </p>
    </span>
  </mat-toolbar-row>
</mat-toolbar>


<div class="lession-container" >
<mat-tab-group backgroundColor="primary" color="warn">
  <mat-tab label="{{test}}"> 
      
       <mat-card>
        <div class="lession-content">
          <mat-card-title> Lession name full </mat-card-title>
          <mat-card-subtitle>lession description in detail</mat-card-subtitle>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/WwR6EIcDL9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </mat-card>  
  </mat-tab>
</mat-tab-group>
</div>
