/*****  *****/
.school-container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.school-banner {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  background-image: linear-gradient(-20deg, #2b5876, #4e4376) !important;
}
.school-card-container {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.school-card {
  margin: 0 auto !important;
  text-align: center !important;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  color: white;
}
.school-card-pi {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  padding: 2px;
  border: 1px solid greenyellow;
}

.mat-card-sb-image {
  width: 70%;
  object-fit: cover !important;
  margin: 0px !important;
  padding: 0px !important;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  height: 400px !important;
}

.school-badge {
  width: 100%;
  margin-top: 20px;
}

.school-badge mat-card {
  width: 35% !important;
  background-image: linear-gradient(90deg, #141e30, #243b55) !important;
  color: white;
  margin-bottom: 5px;
}

.school-main {
  width: 100%;
  margin-top: 20px;
}

.school-main .school-main-content {
  width: 100%;
  padding: 0px;
}

.school-main .school-main-side {
  width: 20%;
}
.about-container {
  padding: 10px;
}
.about-general-info {
  margin-bottom: 20px;
}
.about-other-desc {
}

.gi-row-container {
  margin-top: 15px;
  width: 100%;
}

.gi-row {
  margin-bottom: 10px;
}

.gi-row-info {
  float: left;
  margin-left: 15px;
}
.list-card {
  border-radius: 0px !important;
  background-image: linear-gradient(90deg, #141e30, #243b55) !important;
  color: white !important;
}

.school-about {
  padding: 20px !important;
}
.Facilities-container {
  padding: 20px;
  width: 100%;
}
.facilities-card {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  border-top: 2px solid greenyellow;
}
.facilities-card .material-icons {
  background-color: burlywood;
  padding: 10px;
  border-radius: 50%;
}

.facilities-type {
  font-weight: 700 !important;
  font-size: 0.9875rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facilities-y {
  height: 20px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #1bc943;
  margin: 10px;
  border-radius: 5px;
}
.facilities-n {
  height: 20px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: red;
  margin: 10px;
  border-radius: 5px;
}

.gallery-container {
  padding: 20px;
  width: 100%;
}

.gallery-img {
  width: 24.8%;
  margin-bottom: 3px;
}

.gallery-container {
  padding: 20px;
}

@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 700px) {
}
@media only screen and (min-width: 1000px) {
}
@media only screen and (min-width: 1400px) {
}
@media only screen and (min-width: 2100px) {
}
